* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  width: 3rem;
}

/* navbar */

header {
  background-color: pink;
  padding: 8px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo img {
  width: 2rem;
  height: 2rem;
  margin-left: 5rem;
  margin-top: 0.1rem;
}

.logo span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  margin-left: 2rem;
  font-weight: 100;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 20rem;
}

.nav-links li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  margin-left: 2rem;
  list-style-type: none;
}

.nav-links a:hover {
  color: yellow;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.donate-button a {
  list-style: none;
  display: inline-block;
  width: 10rem;
  font-size: 1rem;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0213ff;
  }
}

.about-dropdown,
.blog-dropdown,
.team-dropdown {
  border-radius: 10px;
  margin-top: 1rem;
  display: none;
  position: absolute;
  background-color: #f7f8f8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.about-dropdown li {
  list-style-type: none;
  padding: 8px 14px;
  margin-left: 0;
}
.blog-dropdown li {
  list-style-type: none;
  padding: 8px 14px;
  margin-left: 0;
}
.team-dropdown li {
  list-style-type: none;
  padding: 8px 14px;
  margin-left: 0;
}

.nav-links li:hover .about-dropdown,
.nav-links li:hover .blog-dropdown,
.nav-links li:hover .team-dropdown {
  margin-top: -1px;
  display: block;
  background-color: aliceblue;
}

.title {
  width: 100%;
  height: 20vh;
  background-color: #3f8b6e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.row-1 {
  width: 100%;
  height: 60vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row-2 {
  width: 100%;
  height: 60vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.row-3 {
  width: 100%;
  height: 60vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: #333;
  padding: 0rem 2rem;
}

.label h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.img-1 {
  background-image: url(img/Villanueva-Gay-2023/1.jpg);
  background-size: cover;
}
.img-2 {
  background-image: url(img/Bayanihan/1.jpg);
  background-size: cover;
}
.img-3 {
  background-color: #ff0000;
  background-image: url(img/brigada/1.jpg);
  background-size: cover;
}

.location {
  text-align: center;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 50rem;
  color: #fff;
  background-color: #3f8b6e;
}

.location h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  
}

.map {
  display: flex;
  margin: auto;
  width: 80%;
  margin-bottom: 1rem;
  cursor: pointer;
}

footer {
  width: 100%;

  bottom: 10;
  background-color: pink;
  padding: 20px;
  color: #000000;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-column {
  margin-left: 20rem;
  width: 1rem;
}

.footer-column-2 {
  margin-right: 20rem;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  width: 17rem;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}
.footer-column p {
  width: 20rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: #000000;
}

.footer-bottom {
  border-top: 1px solid #0213ff;
  padding-top: 10px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}
